# Warp legacy PHP INI profile.
WARP_PHP_INI_PROFILE=legacy
WARP_PHP_IMAGE_FAMILY=summasolutions

# Legacy Xdebug 2 style defaults used by current samples.
XDEBUG_CONFIG="remote_host=172.17.0.1 remote_port=9000"
PHP_IDE_CONFIG="serverName=localhost"
