# Warp managed PHP INI profile.
WARP_PHP_INI_PROFILE=managed
WARP_PHP_IMAGE_FAMILY=magtools

# Xdebug 3 defaults.
XDEBUG_MODE=debug,develop
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=PHPSTORM
